<div class="modal fade" id="error-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
	<div class="modal-dialog">
		<div class="loginmodal-container">
			<h1>Account not acctivated</h1><br>
			<h1></h1><br>
			<form>
				
				 	<div ng-model="statusOk"><button type="button" class="btn btn-default" data-dismiss="modal" value="status">{{status}} aaaa</button>
				 		<ul class="actions" ng-model="$parent.statusOk" value="status"><p>{{status}}</p>
				           		<li ng-if="value='true'"><a href="#/homePage"><button class="btn btn-danger" ng-click="dimiss()">OK</button></a></li>
				           		<li ng-if="value='false'"><a data-toggle="modal" data-target="#error-modal"><button ng-disabled="loginForm.$invalid" type="submit" class="btn btn-danger" ng-click="login(user)">Sign in!</button></a></li>
				          <!-- <a href="#/homePage"><button type="submit" class="btn btn-danger" ng-click="login(user)">Sign in!</button></a>
				          <div ng-show="loggedIn"></div> -->
				          </ul>
				 	</div>
				 	<div ng-if>
				 	
				 	<!-- i ng-if="$parent.statusOk"><a href="#/homePage"><button data-dismiss="modal" class="btn btn-danger">nije</button></a></li>
				          <!-- <a href="#/homePage"><button type="submit" class="btn btn-danger" ng-click="login(user)">Sign in!</button></a>
				          <li ng-show="statusFail"><a data-toggle="modal" data-target="#error-modal"><button ng-disabled="loginForm.$invalid" type="submit" class="btn btn-danger" ng-click="login(user)">Sign in!</button></a></li>
				          <div ng-show="loggedIn"></div> -->
				          
			</form>
			
		</div>
	</div>
</div>
