<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div ng-controller="HomePageController">
<table class="table" style="width:100%;">
 	<thead>
			<th><a href="#/homePage" ng-click="sortType = 'name'; sortReverse =! sortReverse" >
	      			<span ng-show="sortType == 'name' && !sortReverse"></span>Name <span><i class="material-icons"><i class="material-icons">swap_vert</i></span>
	   			</a>
	   		</th>
	   		
			<th><a href="#/homePage" ng-click="sortType = 'genre'; sortReverse =! sortReverse" >
	      			<span ng-show="sortType == 'genre' && !sortReverse"></span>Genre <span><i class="material-icons"><i class="material-icons">swap_vert</i></span>
	   			</a>
	   		</th>
	   		
	   		<th><a href="#/homePage" ng-click="sortType = 'director'; sortReverse =! sortReverse">
	   			<span ng-show="sortType == 'director' && !sortReverse"></span>Director <span><i class="material-icons"><i class="material-icons">swap_vert</i></span>
	   			</a>
	   		</th>
	   		
	   		<th><a href="#/homePage" ng-click="sortType = 'actors'; sortReverse =! sortReverse">
	   			<span ng-show="sortType == 'actors' && !sortReverse"></span>Actors <span><i class="material-icons"><i class="material-icons">swap_vert</i></span>
	   			</a>
	   		</th>
		</thead> 
	
	<tbody>
		<tr ng-repeat="result in thProjections | orderBy:sortType:sortReverse" ng-click="setSelected(result) "
		class="ng-class:{'selected-row': selected === result}">
				<td>{{result.name}}</td>
				<td>{{result.genre}}</td>
				<td>{{result.director}}</td>
				<td>{{result.actors}}</td>
				<td>{{result.duration}}</td>
				<td>
				<div><button type="button" class="btn btn-default" data-toggle="modal" data-target="#lookTheaterModal" ng-click="searchProj(result)">Look</button></div>
			</td>
			<!-- <td>
				<div><button type="button" class="btn btn-default" ng-click="reserve()">Reserve</button></div>
			</td> -->
			<!-- <td ng-repeat="id in recieverId">
				<div ng-show="result.email != loggedIn.email <!-- && result.id != id" --><!-- ><button type="button" class="btn btn-default" ng-click="sendRequest(result)">Send request {{id}}</button></div> -->
				<!-- <div ng-show="result.email != loggedIn.email && result.id == id"><button type="button" class="btn btn-default" disabled>Request sent {{id}} </button></div>
				<button type="button" class="btn btn-danger" ng-click="$parent.removeCar(result)">X</button>	ng-init="result.Action = 'Send request'" {{result.Action}}		
			</td>  -->
		</tr>
	</tbody>
</table>
</div>
