<link rel="stylesheet" href="bootstrap/seatStyle.css">
<div class="col-sm-4 col-sm-offset-1" >
	<p class="text-center">reservation step 5</p>
	<div class="form-group">
    	<div ng-show="reserveTypes.value === 'cinema'"><p class="text-dark" for="name"><em>Cinema name:</em></p></div>
    	<div ng-show="reserveTypes.value === 'theater'"><p class="text-dark" for="name"><em>Theater name:</em></p></div>
    	<input type="text" name="name" class="r-form-first-name form-control" id="name" ng-model="projectionName.cinemaTheater.name" readonly>
    </div>
    <div class="form-group">
    	<label for="reserve-form"><p>Projection:</p></label>
    	<input type="text" name="name" class="r-form-first-name form-control" id="name" ng-model="projectionName.name" readonly>
    </div>
     <div class="form-group">
    	<label for="reserve-form"><p>Date:</p></label>
    	<input type="text" name="name" class="r-form-first-name form-control" id="name" ng-model="dates.id" readonly>
    </div>
     <div class="form-group">
    	<label for="reserve-form"><p>Time:</p></label>
    	<input type="text" name="name" class="r-form-first-name form-control" id="name" ng-model="times.id" readonly>
    </div>
    <!-- <div class="form-group">
    	<label for="reserve-form"><p>Price:</p></label>
    	<input type="text" name="name" class="r-form-first-name form-control" id="name" ng-model="times.id" readonly>
    </div> -->
     <div class="form-group">
    	<label for="reserve-form"><p>Invited friends:</p></label>
    	<select class="form-control" name="hall" id="hall" ng-model="invitedFriends.id"style="padding: 1px 3px;" readonly> 
    		<option value="" selected hidden>-- Friend you invited --</option>
			<option ng-repeat="friend in invitedFriends" value={{friend}}>{{friend.name}} {{friend.surname}}</option>
		</select>
    </div>
    
		<!-- <input type="text" readonly="readonly" id="name" ng-model="all.id">{{all.name}} -->
         <!--    <div class="form-group">
				
				<input type="text" readonly="readonly" id="name" ng-model="all.id" readonly>{{all.name}}
				<label for="reserve-form"><p>Name:</p></label>
				 <select class="form-control" name="name" id="name" ng-model="all.id" ng-change="ctNameChanged()" style="padding: 1px 3px;" required>
				 	<option value="" selected hidden>-- Select an option --</option>
					<option ng-repeat="item in all" value="{{item.id}}">{{item.name}}</option>
					<div ng-messages="registrationForm.name.$error" ng-messages-include="messages.html"></div>
				</select> 
			</div>	
			
			<div class="form-group">
				<label for="reserve-form"><p>Projection:</p></label>
				<select class="form-control" name="proj" id="proj" ng-model="allProjections.id" ng-change="projectionChanged()"style="padding: 1px 3px;" required>
				    <option value="" selected hidden>-- Select an option --</option>
					<option ng-repeat="pr in allProjections" value={{pr.id}}>{{pr.name}}</option>
					<div ng-messages="registrationForm.name.$error" ng-messages-include="messages.html"></div>
				</select>
			</div>	
			
            <div class="form-group">
				<label for="reserve-form"><p>Date:</p></label>ng-change="dateChanged()"ng-change="timeChanged()"
				<select class="form-control" name="date" id="date" ng-model="dates.id" ng-change="dateChanged()" style="padding: 1px 3px;" required>
					  <option value="" selected hidden>-- Select an option --</option>
					<option ng-repeat="date in dates" value={{date}}>{{date}}</option>
					<div ng-messages="registrationForm.name.$error" ng-messages-include="messages.html"></div>
				</select>
			</div>	
			
			 <div class="form-group">
				<label for="reserve-form"><p>Time:</p></label>
				 <select class="form-control" name="time" id="time" ng-model="times.id" ng-change="timeChanged()" style="padding: 1px 3px;" required>
					  <option value="" selected hidden>-- Select an option --</option>
					<option ng-repeat="time in times" value={{time}}>{{time}}</option>
					<div ng-messages="registrationForm.name.$error" ng-messages-include="messages.html"></div>
				</select> 
			</div>	
			
		 	<div class="form-group">
				<label for="reserve-form"><p>Hall:</p></label>
				<select class="form-control" name="hall" id="hall" ng-model="halls.id" style="padding: 1px 3px;" required>
					<option value="" selected hidden>-- Select an option --</option>
					<option ng-repeat="hall in halls" value={{hall.id}}>{{hall.name}}</option>
					<div ng-messages="registrationForm.name.$error" ng-messages-include="messages.html"></div>
				</select> 
			</div>	 -->  
			
			<a href="#/homePage"><button type="submit" class="btn btn-default" ng-click="previousStep()">Previous</button></a>
 	  	    <a href="#/homePage"><button type="submit" class="btn btn-default" ng-click="makeReservation()">Reserve</button></a>
		
	</form><!-- ; searchFriendship() -->
	<!-- <div ng-if="lastSearch == 'cinemas'" ng-include="'userPages/cinemasTable.html'"></div> -->
</div>