<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div ng-controller="HomePageController">
<table class="table table-hover" style="width:100%;">
	<thead>
		<th><a href="#/homePage" ng-click="sortType = 'name'; sortReverse =! sortReverse" >
      			<span ng-show="sortType == 'name' && !sortReverse"></span>Projection <span><i class="material-icons"><i class="material-icons">swap_vert</i></span>
   			</a>
   		</th>
		<th><a href="#/homePage" ng-click="sortType = 'date'; sortReverse =! sortReverse" >
      			<span ng-show="sortType == 'date' && !sortReverse"></span>Date <span><i class="material-icons"><i class="material-icons">swap_vert</i></span>
   			</a>
   		</th>
   		<th><a href="#/homePage" ng-click="sortType = 'time'; sortReverse =! sortReverse" >
      			<span ng-show="sortType == 'time' && !sortReverse"></span>Time <span><i class="material-icons"><i class="material-icons">swap_vert</i></span>
   			</a>
   		</th>
   		<th><a href="#/homePage" ng-click="sortType = 'price'; sortReverse =! sortReverse" >
      			<span ng-show="sortType == 'price' && !sortReverse"></span>Price <span><i class="material-icons"><i class="material-icons">swap_vert</i></span>
   			</a>
   		</th>
   		<th><a href="#/homePage" ng-click="sortType = 'hall'; sortReverse =! sortReverse" >
      			<span ng-show="sortType == 'hall' && !sortReverse"></span>Hall <span><i class="material-icons"><i class="material-icons">swap_vert</i></span>
   			</a>
   		</th>
	</thead>
	<tbody>
		<tr ng-repeat="result in reservationList | orderBy:sortType:sortReverse" ng-click="setSelected(result) "
		class="ng-class:{'selected-row': selected === result}">
			<td>{{result.term.projection.name}}</td>
			<td>{{result.term.termDate}}</td>
			<td>{{result.term.termTime}}</td>
			<td>{{result.price}}</td>
			<td>{{result.term.hall.name}}</td>
			<td>
				<div ><button type="button" class="btn btn-danger" ng-click="cancelReservation(result)">Cancel reservation</button></div>
			</td>
		</tr>
	</tbody>
</table>
</div>
