<div ng-controller="CinemaTheaterController">

<div class="container" >
	Search: <input type="text" placeholder="Search cinema" ng-model="searchCinema" />
	<div class="table-responsive">
		<table class="table">
			<thead>
				<tr>
					<th>Id</th>
					<th>Name</th>
					<th>Description</th>
					<th>Address</th>
				</tr>
			</thead>
			<tbody>
			
				<tr ng-repeat="cinema in cinemas |filter: searchCinema"
				ng-click="setSelected(cinema)"
				ng-class="{'info' : selected===cinema}">
					<td>{{cinema.id}}</td>
					<td>{{cinema.name}}</td>
					<td>{{cinema.description}}</td>
					<td><a href="address.html#{{cinema.city + ' '  + cinema.adress}}">View address</a></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div ng-if="loginUserRole==1">
		<button type="button" class="btn btn-primary" ng-click=showView(1)>New cinema</button>
		<button type="button" class="btn btn-default" ng-click=showView(2)>Register cinema admin</button>
	</div>
	
	<div ng-show="show==1" ng-include src="'registerCinema.html'"></div>
	<div ng-show="show==2" ng-include src="'registerCinemaTheaterAdmin.html'"></div>
	
</div>

</div>


