
<header>
	<!-- Header desktop -->
	<div class="wrap-menu-header gradient1 trans-0-4">
		<div class="container h-full">
			<div class="wrap_header trans-0-3">
				<!-- Logo -->
				<div class="logo">
					<a href="#/">
						<img src="bootstrap/images/icons/logo23.png" alt="IMG-LOGO" data-logofixed="bootstrap/images/icons/logo2.jpg">
					</a>
				</div>

				<!-- Menu -->
				<div class="wrap_menu p-l-45 p-l-0-xl">
					<nav class="menu"> 
						<ul class="main_menu">
							<li>
								<a href="signin.html">Cinema</a>
							</li>		
							<li>
								<a href="signin.html">Theater</a>
							</li>
							<li>
								<a href="#/login">Sign in</a>
							</li>	
							<li>
								<a href="#/register">Sign up</a>
							</li>					
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
</header>


<!-- Slide1 -->
<!--  
<section class="section-slide">
	<div class="wrap-slick1">
		<div class="slick1">
			<div class="item-slick1 item1-slick1" style="background-image: url(bootstrap/images/slide1-01.jpg);">
				<div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">
					<span class="caption1-slide1 txt1 t-center animated visible-false m-b-15" data-appear="fadeInDown">
						Welcome to
					</span>

					<h2 class="caption2-slide1 tit1 t-center animated visible-false m-b-37" data-appear="fadeInUp">
						Cinemas
					</h2>

					<div class="wrap-btn-slide1 animated visible-false" data-appear="zoomIn">
					
						<a href="signin.html" class="btn1 flex-c-m size1 txt3 trans-0-4">
							Look Cinema
						</a>
					</div>
				</div>
			</div>

			<div class="item-slick1 item2-slick1" style="background-image: url(bootstrap/images/master-slides-02.jpg);">
				<div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">
					<span class="caption1-slide1 txt1 t-center animated visible-false m-b-15" data-appear="rollIn">
						Welcome to
					</span>

					<h2 class="caption2-slide1 tit1 t-center animated visible-false m-b-37" data-appear="lightSpeedIn">
						Theaters
					</h2>

					<div class="wrap-btn-slide1 animated visible-false" data-appear="slideInUp">
					
						<a href="signin.html" class="btn1 flex-c-m size1 txt3 trans-0-4">
							Look Theater
						</a>
					</div>
				</div>
			</div>
		</div>

		<div class="wrap-slick1-dots"></div>
	</div>
</section>
-->


<!-- Sign up -->
<div class="section-signup bg1-pattern p-t-85 p-b-85">
<div ng-controller="CinemaTheaterController">
<br></br>
  
<input type="checkbox"  ng-model="showcinema"/>CINEMA 
<input type="checkbox"  ng-model="showtheater" >THEATER  
<br></br>


<div class="container" name="c" ng-show="showcinema">
 	
	<h3 align="center">Cinemas</h3>
	Search: <input type="text" placeholder="Search" ng-model="searchCinema" />
	<div class="table-responsive" >
		
		<br></br>
		<table class="table">
			<thead>
				<tr>
					
					<th>Name</th>
					<th>Rating</th>
					<th>Adress</th>

				</tr>
			</thead>
			<tbody>
			
				<tr ng-repeat="cinema in cinemas |filter: searchCinema"
				ng-click="setSelected(cinema)"
				ng-class="{'info' : selected===cinema}">
					
					<td>{{cinema.name}}</td>
					<td>{{cinema.rating}}</td>
					<td>{{cinema.adress}}</td>
				</tr>
			</tbody>
		</table>
	</div>	
	
</div>

<div class="container" name="t" ng-show="showtheater">
 	
	<h3 align="center">Theaters</h3>
	Search: <input type="text" placeholder="Search" ng-model="searchTheater" />
	<div class="table-responsive" >
		
		<br></br>
		<table class="table">
			<thead>
				<tr>
					
					<th>Name</th>
					<th>Rating</th>
					<th>Address</th>

				</tr>
			</thead>
			<tbody>
			
				<tr ng-repeat="theater in theaters |filter: searchTheater"
				ng-click="setSelected(theater)"
				ng-class="{'info' : selected===theater}">
					
					<td>{{theater.name}}</td>
					<td>{{theater.rating}}</td>
					<td>{{theater.adress}}</td>
				</tr>
			</tbody>
		</table>
	</div>	

</div>
</div>
	<form class="flex-c-m flex-w flex-col-c-m-lg p-l-5 p-r-5">
		<span class="txt5 m-10">
			Specials Sign up
		</span>

		<div class="wrap-input-signup size17 bo2 bo-rad-10 bgwhite pos-relative txt10 m-10">
			<input class="bo-rad-10 sizefull txt10 p-l-20" type="text" name="email-address" placeholder="Email Adrress">
			<i class="fa fa-envelope ab-r-m m-r-18" aria-hidden="true"></i>
		</div>

		<!-- Button3 -->
		<button type="submit" class="btn3 flex-c-m size18 txt11 trans-0-4 m-10">
			Sign-up
		</button>
	</form>
</div>


<!-- Footer -->
<footer class="bg1">
	<div class="container p-t-40 p-b-70">
		<div class="row">
			<div class="col-sm-6 col-md-4 p-t-50">
				<!-- - -->
				<h4 class="txt13 m-b-33">
					Contact Us
				</h4>

				<ul class="m-b-70"> 
					<li class="txt14 m-b-14">
						<i class="fa fa-map-marker fs-16 dis-inline-block size19" aria-hidden="true"></i>
						8th floor, 379 Hudson St, New York, NY 10018
					</li>

					<li class="txt14 m-b-14">
						<i class="fa fa-phone fs-16 dis-inline-block size19" aria-hidden="true"></i>
						(+1) 96 716 6879
					</li>

					<li class="txt14 m-b-14">
						<i class="fa fa-envelope fs-13 dis-inline-block size19" aria-hidden="true"></i>
						contact@site.com
					</li>
				</ul>

				<!-- - -->
				<h4 class="txt13 m-b-32">
					Opening Times
				</h4>

				<ul>
					<li class="txt14">
						09:30 AM – 11:00 PM
					</li>

					<li class="txt14">
						Every Day
					</li>
				</ul>
			</div>

			<div class="col-sm-6 col-md-4 p-t-50">
				<!-- - -->
				<h4 class="txt13 m-b-33">
					Latest twitter
				</h4>

				<div class="m-b-25">
					<span class="fs-13 color2 m-r-5">
						<i class="fa fa-twitter" aria-hidden="true"></i>
					</span>
					<a href="#" class="txt15">
						@colorlib
					</a>

					<p class="txt14 m-b-18">
						Activello is a good option. It has a slider built into that displays the featured image in the slider.
						<a href="#" class="txt15">
							https://buff.ly/2zaSfAQ
						</a>
					</p>

					<span class="txt16">
						21 Dec 2017
					</span>
				</div>

				<div>
					<span class="fs-13 color2 m-r-5">
						<i class="fa fa-twitter" aria-hidden="true"></i>
					</span>
					<a href="#" class="txt15">
						@colorlib
					</a>

					<p class="txt14 m-b-18">
						Activello is a good option. It has a slider built into that displays
						<a href="#" class="txt15">
							https://buff.ly/2zaSfAQ
						</a>
					</p>

					<span class="txt16">
						21 Dec 2017
					</span>
				</div>
			</div>

			<div class="col-sm-6 col-md-4 p-t-50">
				<!-- - -->
				<h4 class="txt13 m-b-38">
					Gallery
				</h4>

				<!-- Gallery footer -->
				<div class="wrap-gallery-footer flex-w">
					<a class="item-gallery-footer wrap-pic-w" href="bootstrap/images/photo-gallery-01.jpg" data-lightbox="gallery-footer">
						<img src="bootstrap/images/photo-gallery-thumb-01.jpg" alt="GALLERY">
					</a>

					<a class="item-gallery-footer wrap-pic-w" href="bootstrap/images/photo-gallery-02.jpg" data-lightbox="gallery-footer">
						<img src="bootstrap/images/photo-gallery-thumb-02.jpg" alt="GALLERY">
					</a>

					<a class="item-gallery-footer wrap-pic-w" href="bootstrap/images/photo-gallery-03.jpg" data-lightbox="gallery-footer">
						<img src="bootstrap/images/photo-gallery-thumb-03.jpg" alt="GALLERY">
					</a>

					<a class="item-gallery-footer wrap-pic-w" href="bootstrap/images/photo-gallery-04.jpg" data-lightbox="gallery-footer">
						<img src="bootstrap/images/photo-gallery-thumb-04.jpg" alt="GALLERY">
					</a>

					<a class="item-gallery-footer wrap-pic-w" href="bootstrap/images/photo-gallery-05.jpg" data-lightbox="gallery-footer">
						<img src="bootstrap/images/photo-gallery-thumb-05.jpg" alt="GALLERY">
					</a>

					<a class="item-gallery-footer wrap-pic-w" href="bootstrap/images/photo-gallery-06.jpg" data-lightbox="gallery-footer">
						<img src="bootstrap/images/photo-gallery-thumb-06.jpg" alt="GALLERY">
					</a>

					<a class="item-gallery-footer wrap-pic-w" href="bootstrap/images/photo-gallery-07.jpg" data-lightbox="gallery-footer">
						<img src="bootstrap/images/photo-gallery-thumb-07.jpg" alt="GALLERY">
					</a>

					<a class="item-gallery-footer wrap-pic-w" href="bootstrap/images/photo-gallery-08.jpg" data-lightbox="gallery-footer">
						<img src="bootstrap/images/photo-gallery-thumb-08.jpg" alt="GALLERY">
					</a>

					<a class="item-gallery-footer wrap-pic-w" href="bootstrap/images/photo-gallery-09.jpg" data-lightbox="gallery-footer">
						<img src="bootstrap/images/photo-gallery-thumb-09.jpg" alt="GALLERY">
					</a>

					<a class="item-gallery-footer wrap-pic-w" href="bootstrap/images/photo-gallery-10.jpg" data-lightbox="gallery-footer">
						<img src="bootstrap/images/photo-gallery-thumb-10.jpg" alt="GALLERY">
					</a>

					<a class="item-gallery-footer wrap-pic-w" href="bootstrap/images/photo-gallery-11.jpg" data-lightbox="gallery-footer">
						<img src="bootstrap/images/photo-gallery-thumb-11.jpg" alt="GALLERY">
					</a>

					<a class="item-gallery-footer wrap-pic-w" href="bootstrap/images/photo-gallery-12.jpg" data-lightbox="gallery-footer">
						<img src="bootstrap/images/photo-gallery-thumb-12.jpg" alt="GALLERY">
					</a>
				</div>

			</div>
		</div>
	</div>

	<div class="end-footer bg2">
		<div class="container">
			<div class="flex-sb-m flex-w p-t-22 p-b-22">
				<div class="p-t-5 p-b-5">
					<a href="#" class="fs-15 c-white"><i class="fa fa-tripadvisor" aria-hidden="true"></i></a>
					<a href="#" class="fs-15 c-white"><i class="fa fa-facebook m-l-18" aria-hidden="true"></i></a>
					<a href="#" class="fs-15 c-white"><i class="fa fa-twitter m-l-18" aria-hidden="true"></i></a>
				</div>

				<div class="txt17 p-r-20 p-t-5 p-b-5">
					Copyright &copy; 2018 All rights reserved  |  This template is made with <i class="fa fa-heart"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
				</div>
			</div>
		</div>
	</div>
</footer>


<!-- Back to top -->
<div class="btn-back-to-top bg0-hov" id="myBtn">
	<span class="symbol-btn-back-to-top">
		<i class="fa fa-angle-double-up" aria-hidden="true"></i>
	</span>
</div>

<!-- Container Selection1 -->
<div id="dropDownSelect1"></div>

<!-- </div> -->




